.background__wrapper {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
}
.background__image {
  position: absolute;
  z-index: 0;

  background-size: cover;
}
.background__text {
  width: 100%;
  position: absolute;
  font-weight: bold;
  font-size: 120px;
  text-align: center;
  color: rgba(234, 236, 236, 0.6);
}
