.navigation {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  padding: 0 var(--padding) 0;
  background-color: #fff;
  z-index: 100;
  align-items: stretch;
  transition: all 0.3s ease;
}

.navigation * {
  user-select: none;
  position: relative;
  z-index: 102;
}
.navigation::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-color: #fff;
  left: 0;
  background-position: top;
  bottom: 1px;
  z-index: 101;
}
.navigation::before {
  content: "";
  position: absolute;
  width: 100%;
  height: var(--section-transition-height);
  transform: translateY(100%);
  left: 0;
  background-position: top;
  bottom: 1px;

  background: url("../../img/icons/TOP-WHITE.svg") no-repeat;
  background-size: cover;
  background-position: top;
  position: absolute;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  animation: waveopen 0.6s ease;
  z-index: 100;
}
.navigation--top {
  position: fixed;
  height: 60px;
}
.navigation--top.navigation::before {
  animation: waveclose 0.4s ease;
  transform: translateY(-1%);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.05));
}
.logo {
  width: 40px;
  margin-right: 50px;
}
.logo img {
  width: 100%;
  height: 100%;
}
.nav-links {
  display: flex;
  align-items: flex-end;
  color: black;
}
.nav-links * {
  color: inherit;
}
.nav-links__link {
  list-style: none;
  margin-right: 30px;
  color: black;
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}
.nav-links__link a {
  text-decoration: none;
}
.nav-links__link::after {
  content: "";
  position: absolute;
  height: 3px;
  width: 100%;
  background-color: #d6bd7a;
  left: 0;
  bottom: 10px;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
}
.nav-links__link:hover::after {
  transform: translateX(0%);
}
.active.nav-links__link::after {
  transform: translateX(0%);
}
.number-phone {
  color: black;
  position: absolute;
  right: var(--padding);
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s ease;
}
.number-phone:hover {
  color: #d6bd7a;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}

.navigation__burger {
  position: absolute;
  z-index: 200;
  right: var(--padding);
  top: 50%;
  transform: translateY(-50%);
  border-width: 0;
  width: 30px;
  height: 12px;
  display: none;

  cursor: pointer;

  border: none;
  outline: none;
  transition: all 0.4s ease;
}

.navigation__burger > span {
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: #555555;
  transition: all 0.3s ease-in-out;
  top: 0;
  left: 0;
}

.navigation__burger span:nth-of-type(2) {
  top: 50%;
}
.navigation__burger span:nth-of-type(3) {
  top: 100%;
}

.burger--close span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotateZ(0);
}
.burger--close span:nth-of-type(1) {
  transform: translate(-50%, -50%) rotateZ(45deg);
}
.burger--close span:nth-of-type(2) {
  opacity: 0;
}
.burger--close span:nth-of-type(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotateZ(-45deg);
}
@media (max-width: 800px) {
  .number-phone {
    display: none;
  }
  .navigation__burger {
    display: flex;
  }
  .nav-links {
    position: absolute;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    left: 0;
    background: url("../../img/background/hx_list--2.png") #fafafa;
    top: 0;
    background-position: center;
    background-repeat: no-repeat;
    transform: translateY(-100%);
    transition: all 0.4s ease;
    padding: 20vh 0px;
  }
  .nav-links__link {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }
  .nav-links__link::after {
    height: 100%;
    background-color: #f1f1f1;
  }
}
.nav-links--active {
  transform: translateY(0%);
}
@keyframes waveclose {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-1%);
  }
}
@keyframes waveopen {
  0% {
    transform: translateY(-1%);
  }
  100% {
    transform: translateY(100%);
  }
}
