.footer {
  width: 100%;
  padding: 70px var(--padding);
  background-color: #111416;
  display: flex;
  flex-wrap: wrap;
}
.footer__item {
  flex: 1 0 300px;
  color: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  padding-top: 70px;
}
.footer__item p {
  margin-bottom: 20px;
}
.footer__item:nth-of-type(2) {
  border-right: 1px solid #393939;
  border-left: 1px solid #393939;
  align-items: center;
}
.footer__item:nth-of-type(3) {
  padding-left: var(--padding);
}
.logo__footer {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 60px;
  height: 60px;
}
.footer__title {
  font-style: normal;
  font-weight: normal;

  position: relative;
  margin-bottom: 50px;
}
.footer__description {
  text-align: center;
  width: 235px;
}
.footer__item:first-of-type .footer__title::after {
  left: 0%;
  transform: translateX(-0%);
}

.footer__title::after {
  content: "";
  position: absolute;
  width: 80px;
  bottom: -25px;
  height: 1px;
  background-color: #c9a74d;
  left: 50%;
  transform: translateX(-50%);
}
.footer__link {
  text-decoration-line: underline;
  color: #c9a74d;
}
.up-btn {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111416;
  box-shadow: -4px -4px 10px rgba(30, 30, 30, 0.3),
    4px 4px 10px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  user-select: none;
  transition: all 0.4s ease;
  min-height: 100px;
}
.up-btn:hover {
  box-shadow: -4px -4px 15px rgba(30, 30, 30, 0.3),
    4px 4px 15px rgba(0, 0, 0, 0.5);
}
@media (max-width: 1076px) {
  .footer__item:nth-of-type(2) {
    border-right: 1px solid #111416;
    border-left: 1px solid #393939;
  }
  .footer__item:nth-of-type(3) {
    padding-left: 0;
  }
}
@media (max-width: 696px) {
  .footer__item:nth-of-type(2) {
    border-right: 1px solid #111416;
    border-left: 1px solid #111416;
    order: 0;
  }
  .footer__item:nth-of-type(1) {
    order: 1;
    text-align: center;
  }
  .footer__item:first-of-type .footer__title::after {
    left: 50%;
    transform: translateX(-50%);
  }
  .footer__item:first-of-type .footer__title {
    text-align: center;
  }
  .footer__item:nth-of-type(3) {
    order: 2;
  }
}
