/* Section style 
**********************************************/
.header {
  width: 100%;
  height: 100vh;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: relative;
  background: url("../img/background/header.jpg") no-repeat;
  background-position: center;
  object-fit: cover;
  background-size: cover;
  z-index: 0;
}

.header::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;

  background: rgba(0, 0, 0, 0.2);

  z-index: 0;
}
.header::after {
  content: "";
  width: 100%;
  height: var(--section-transition-height);
  position: absolute;
  left: 0;
  bottom: -1px;

  background: url("../img/icons/BOTTOM_WHITE.svg") no-repeat;
  background-size: cover;
  background-position: bottom;
  filter: drop-shadow(0px -4px 4px rgba(0, 0, 0, 0.25));
  z-index: 1;
}

/* Content style 
**********************************************/
.header__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  position: relative;
}
.header__inner h1 {
  margin-bottom: 60px;
  color: #fff;
  position: relative;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.header__inner h1::after {
  content: "";
  position: absolute;
  width: 60px;
  height: 3px;
  background-color: #d6bd7a;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
.header__inner p {
  font-size: 25px;
  margin-bottom: 60px;
  color: #fff;
  text-align: center;
  max-width: 700px;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.1);
}
