.our-product {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 130px var(--padding) 0;
}

.product {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.product-navigation {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
  flex-wrap: wrap;
}
.product-navigation li {
  list-style: none;
  margin: 20px;
  cursor: pointer;
  margin-top: 0;
}
.js-product-tab--active {
  position: relative;
  transition: all 0.4s ease;
}
.js-product-tab--active::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: #d6bd7a;
  left: 0;
  bottom: -15px;
  animation: tab 0.4s ease-in-out;
}
.product__wrapper {
  width: 100%;
  display: grid;
  grid-column-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.product-item {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fafafa;
  line-height: 2;
  border-radius: 10px;
  margin: 0.5rem;
  transition: transform 0.2s ease-out;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-bottom: 80px;
  animation: items 2s ease;
}
.product-item figure {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-top: -60px;
  position: relative;
}
.button__product-item {
  margin: auto;
}
.product-item figure:before {
  content: "";
  border-radius: inherit;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  border: 1rem solid #fafafa;
}
.product-item figure img {
  border-radius: inherit;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-item div {
  text-align: center;
  margin: 2rem;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}
.product-item div p {
  color: hsl(250, 5%, 45%);
  font-weight: 400;
  flex-grow: 1;
  margin: 1rem 0 3rem;

  position: relative;
  z-index: 5;
}
.product-item div p:before {
  /* with SVG elements include two icons for the quote */
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: -5;
  opacity: 0.05;
  /* position the icons at either end of the paragraph, rotate the second to have a mirrorer image */
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>'),
    url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 70 70" width="70" height="70" transform="rotate(180)"><rect x="0" y="40" width="30" height="30"></rect><path d="M 0 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path><rect x="40" y="40" width="30" height="30"></rect><path d="M 40 40 q 0 -40 30 -40 v 15 q -15 0 -15 25"></path></svg>');
  background-position: 20% 20%, 80% 80%;
  background-repeat: no-repeat;
}
.product-item div h1 {
  /* considerably reduce the size of the heading */
  color: hsl(260, 5%, 55%);
  font-family: "Lato", sans-serif;
  font-size: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.05rem;
}

.product-item--disable {
  display: none;
}
@keyframes tab {
  0% {
    transform: scaleX(0);
  }

  100% {
    transform: scaleX(1);
  }
}
@keyframes items {
  0% {
    opacity: 0;
    transform: translateY(50%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
